<div style="background-color: #a6e5bdaa;">
<table>
    <tr> 
        
            
            <td><img src="{{ follow_post.avatar(36) }}"></td>
        <td>
            
            <a href="{{ url_for('user', username=follow_post.username) }}">

               <p style="background-color:#ebf69b8a;">{{ follow_post.username }}
            </a>
            {{ moment(follow_post.timestamp).fromNow() }}:{{ follow_post.body }}</p> 
            
                
            
       
        </td>

       
        
    </tr>   
</table>
</div>