
<!---------
    这个是渲染用户跟帖的子模板
    一个跟帖就是由一个这样的模板渲染出来的
    所以这只是html页面的一个小部分
    引用样式文件需要在 调用该子模板的地方引用
-->

<div style="background-color: #a6e5bdaa;">
    <!--
        这是我设置的样式 可以为该div添加id号 然后在css添加该div的样式
        其实所有的{都是渲染的string类型的内容并不会影响网站的结构
        当然 form类型的除外 form类型是表单会渲染出表单的文本框数字框提交按钮等
        需要另想办法添加样式
    -->
<table>
    <tr> 
        
            
            <td><img src="{{ follow_post.avatar(36) }}"></td>
        <td>
            
            <a href="{{ url_for('user', username=follow_post.username) }}">

               <p style="background-color:#ebf69b8a;">{{ follow_post.username }}
            </a>
            {{ moment(follow_post.timestamp).fromNow() }}:{{ follow_post.body }}</p> 
            
                
            
       
        </td>

       
        
    </tr>   
</table>
</div>