<div style="background-color: #FCF5E2FF;"></div>
    <table>
        <tr>
            <h3>------------------------------第{{post.id }}条帖子-------------------------------</h3>
        </tr>
    </table>
    
    <div style="background-color: #FCF5E2FF;">
    <table>
    
        <tr style="background-color:#FCF5E2FF;font-size: 20px;">
            
            <td><img src="{{ post.author.avatar(36) }}"></td>
            <td style="font: size 30px; ">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
               的帖子:<br>{{ post.body }}
            </td>
            
            
        </tr>   
    
    
    
    </table>
    
    </div>
    <table>
        <tr>
            <h3>-------------发帖时间：{{ moment(post.timestamp).fromNow() }}---------------</h3>
        </tr>
    </table>
    
</div>

<!---子模板 一次只渲染一条帖子-->




