<div style="background-color: #FCF5E2FF;"></div>
    <table>
        <tr >
            <h3 style="color:#f8e5c3 ;background-color:hsl(196, 10%, 30%);">------------------------------第{{post.id }}条帖子-------------------------------<h3>
        </tr>
    </table>
    
    <div style="background-color: #FCF5E2FF; box-shadow: 0px 0px 20px 3px#2c1f0282;border-radius: 3%;">
    <table>
    
        
        <tr style="background-color:#FCF5E2FF;font-size: 20px;">
            
            <td>
                <div  style="width:32px; height:32px; border-radius:100%; overflow:hidden;">
                <img src="{{ post.author.avatar(32) }}">
                </div>
            </td>
            <td style="font-size: larger;font-weight:500; ">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                的帖子:
            </td>
            
            
        </tr>   

    
    
    
    </table>

    <table>
        <tr style="background-color:#FCF5E2FF;font-size: 20px;">
            <br>{{ post.body }}<br>
        </tr>
    </table>
    
    </div>
    <table>
        <tr>
            <h3 style="color:#7f6b46 ;">---------------------------发帖时间：{{ moment(post.timestamp).fromNow() }}---------------------------</h3>
        </tr>
    </table>
    
</div>

<!---子模板 一次只渲染一条帖子-->




