<!DOCTYPE html> 
<html>
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>地图社区：MapCommunity</title>
<style type="text/css"> 
html{height:100%} 
body{height:100%;margin:0px;padding:0px} 
#container{height:100%} 
</style> 

</script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
</script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=zsuRD8fmHkCdmWzC84NDbsvwAiWBdCce">
</script>

</head> 

<body> 
    
<table width = "100%" border = "1">
    <tr>
       <td colspan = "2" >
        
<center>
         <div>
            地图社区：
            <a href="{{ url_for('home_map') }}">个人主页</a>
            <a href="{{ url_for('user_map', username=current_user.username) }}">个人资料</a>
            <a href="{{ url_for('explore_map') }}">广场</a>
            <a href="{{url_for('login_map')}}">登录</a>
            <a href="{{ url_for('logout') }}">登出</a>
        </div>
</center>
        
       </td>
    </tr>
    <tr valign = "top">
       <td width = "250" height = "1000" >
         {% block content %}{% endblock %}
        
            

         <!---用以显示错误提示
            <iframe src="/home" style="height: 100%;width: 100%;" >
            </iframe>
         -->
        
       </td>
       <td width = "500" height = "1000">
         <!----
         地图展示框 这个框里面引用的是地图数据渲染引擎
      -->
        <div id="container"></div>
        <script src="../static/map.js"></script>
       </td>
    </tr>
    <tr>
       <td colspan = "2" >
          <center>
             页脚
          </center>
       </td>
    </tr>
 </table>

</body> 
</html>

