<!DOCTYPE html>
    <h1>编辑我的资料</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
<p style="background-color: #554815;color: #f6f601;font-size: 20px;">
    tips:<br>由于技术原因，修改用户名会同时更改随机头像，如果您喜爱当前的随机头像的话，请谨慎更改用户名。<br><br>
    warning:<br>请自觉维护良好的社区氛围，禁止低俗、暴力、反动的用户名及个签。（目前本站无屏蔽词审核 请自觉）<br>.
</p>        
<h1 style="color: #fd0505;">违反者一律删号！（后台手动删号 不可恢复！！！）</h1>
