<!DOCTYPE html>
    <h1>欢迎, {{ current_user.username }}!</h1>
<!--防止home.html模板在尝试呈现不存在的Web表单时崩溃-->
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{form.lon.label}}<br>
                {{form.lon}}<br>
                {% for error in form.lon.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {{form.lat.label}}<br>
                {{form.lat}}<br>
                {% for error in form.lat.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    
    {% for post in posts %}
    {% include '_post.html' %}
        {% for follow_post in follow_posts %}
            {% if post.id==follow_post.post_id %}
                {% include '_comment_post.html' %}
                <h3>这是用户评论</h3>
            {% endif %}
        {% endfor%}
    {% endfor %}

    <h3>------------评论区 请先输入要跟帖的帖子编号 然后进行跟帖------------</h3>
    {% include '_comment.html' %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
