<!DOCTYPE html> 
<html>
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>地图社区：MapCommunity</title>

<style type="text/css"> 
html{height:100%} 
body{height:100%;margin:0px;padding:0px} 
#container{height:100%} 
</style> 

</script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
</script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=zsuRD8fmHkCdmWzC84NDbsvwAiWBdCce">
</script>
</head> 

<body>
        <div id="container"></div>
        <script src="../static/map.js"></script>
</body>