<!DOCTYPE html>
<head>
    {{ moment.include_moment() }} <!--渲染moment.js库-->
</head>
<body>
    <table>
        <tr valign="top">
         
                
       
            <td>
                <div style="background-color: rgba(96, 57, 12, 0.503); border-radius: 6%;" >
                    <div style="background-color: rgba(178, 148, 78, 0.679);">
                        
                        <div style="background-color: rgba(73, 48, 7, 0.572); border-radius: 6%;" >
                        <div  style="width:128px; height:128px; border-radius:100%; overflow:hidden;">
                            <img src="{{ user.avatar(128) }}">
                            
                        </div>
                        <p style="color:rgb(249, 244, 234); font-weight: bolder;font-size: larger;">用 户：{{ user.username }}</p>
                        </div>
                        
                    </div>
                    <div style="background-color: rgb(105, 79, 24);border-radius: 10%;">
                    {% if user.about_me %}<p style="color:rgb(249, 244, 234);">个性签名：{{ user.about_me }}</p>{% endif %}
                    {% if user.last_seen %}<p style="color:rgb(249, 244, 234);">上次查看此页面: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
                </div>
                    <center><p style="color:rgb(230, 230, 235); font-size: larger;">粉丝数：{{ user.followers.count() }}, 我的关注数：{{ user.followed.count() }}.</p></center>

                </div>
                    
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">编辑资料</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">关注</a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">取消关注</a></p>
                {% endif %}
            </td>
        </tr>
    </table>    
        <hr>
    
        
            {% for post in posts %}
            
                {% if post.author.id==user.id %}
                    {% include '_post.html' %}
                    {% for follow_post in follow_posts %}
                        {% if post.id==follow_post.post_id %}
                            {% include '_comment_post.html' %}
                        {% endif %}
                    {% endfor%}
                {% endif %}
            
        {% endfor %}
    
    
    
    
        </div>

</body>

   