<!DOCTYPE html>
<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
                <h1>用 户：{{ user.username }}</h1>
            {% if user.about_me %}<p>个性签名：{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>上次登录: {{ user.last_seen }}</p>{% endif %}
                <p>粉丝数：{{ user.followers.count() }}, 我的关注数：{{ user.followed.count() }}.</p>
            {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">编辑资料</a></p>
            {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">关注</a></p>
            {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">取消关注</a></p>
            {% endif %}
        </td>
    </tr>
</table>    
    <hr>
    
    {% for post in posts %}
    {% include '_post.html' %}
        {% for follow_post in follow_posts %}
            {% if post.id==follow_post.post_id %}
                {% include '_comment_post.html' %}
                <h1>这是用户评论</h1>
            {% endif %}
        {% endfor%}
    {% endfor %}
